* {
    font-family: 'Lexend', Verdana, Arial, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #fcfcfa; 
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    padding-top: 7px;
    margin: 0;
}
.header-container {
    width: 90%;
    display: flex;
    align-items: center;   
    justify-content: space-between;
    position: relative; 
}
.left img {
    width: 85px;
}

.center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.center h1 {
    margin: 0;

}
.right {
    display: flex;
    gap: 10px;
}
.right p {
    margin: 0;
    cursor: pointer;
    font-size: 24px;
    /* Trennlinien */
    padding-left: 8px;
    padding-right: 8px;
    border: 2px solid transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.right p:hover{
    border-color:#ff3c00 ;
}